/* index */
.head {
  background-color: #57cac3;
  height: 80px;
  font-family: "Comic Sans MS";
  font-size: 48px;
  text-emphasis-color: #491217;


}

.body {
  background-color: #808080;
}



.navbar {
  background: lightslategrey;
  height: 68px;
  font-family: "Comic Sans MS";
}

.nav-link {
  color: black;
  font-size: 17px;
  padding: 0px;
  margin-right: 28px;
  font-family: "Comic Sans MS";
}

.nav-item a:hover {
  color: #57cac3;
}

.dropdown-menu {
  border: 0px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.carousel-item {
  height: 750px;
}

.carousel-img-1 {
  background-size: 100% 100%;
}

.carousel-img-2 {
  background-size: 100% 100%;
}

.carousel-img-3 {
  background-size: 100% 100%;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel_slid {
  height: 750px;
  position: relative;
}

.opacity_carousel {
  background: rgb(0,0,0);
  opacity: 0.4;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.carousel-control-prev, .carousel-control-next {
  z-index: 11;
}

.post {
  padding-top: 180px;
  width: auto;
  height: 80px;
  margin-top: 30px;
  margin-right: 400px;
}

.postimg, .postimg3 {
  width: 450px;
  height: 233px;
  padding: 5px;
  margin-left: 300px;

}

.post_dec h2, .post_dec2 h2, .post_dec3 h2 {
  color: #57cac3;
}

.post_dec{
  padding: 5px;
  padding-top: 75px;
  margin-right: 20%;
  margin-left: 300px;
  margin: 5px;
  width: 600px;
  font-family: "Comic Sans MS";
}

.post_dec3 {
  padding: 5px;
  padding-top: 75px;
  margin-right: 20%;
  margin-left: 300px;
  margin: 5px;
  width: 600px;
  font-family: "Comic Sans MS";

}

.post2 {
  padding-top: 100px;
  width: auto;
  height: 350px;
  margin-top: 330px;
  margin-left: 20%;
}

.post3 {
  padding-top: 100px;
  width: auto;
  height: 600px;
  margin-top: 30px;
  margin-left: -10px;
  margin-right: 20%;
}

.post_dec2 {
  padding: 5px;
  padding-left: 80px;
  margin-top: 35px;
  width: 600px;
  font-family: "Comic Sans MS";
}

.postimg2 {
  width: 450px;
  height: 233px;
  padding: 5px;
  margin-right: 20%;
}

.footer {
  background-color: #57cac3;
  height: 140px;
  font-weight: bold;
  font-size: large;
  font-family: "Comic Sans MS";
}



/* address */
.address {
  height: 200px;
  font-family: "Comic Sans MS";
}

#page-header {
  background: url(../imge/a.jpg);
  background-size: cover;
  height: 300px;
  padding-top: 50px;
  background-attachment: fixed;
  margin-bottom: 50px;
  font-family: "Comic Sans MS";
}

#page-header_1 {
  background: url(../imge/a.jpg);
  background-size: cover;
  height: 300px;
  padding-top: 50px;
  background-attachment: fixed;
  margin-bottom: 50px;
  font-family: "Comic Sans MS";
}

/* Registration */
.form_body {
  width: 750px;
  margin-left: 296px;
  font-family: "Comic Sans MS";
}

.blood_group {
  margin-left: 286px;
  font-family: "Comic Sans MS";
}

.email_group {
  margin-left: 268px;
  font-family: "Comic Sans MS";
}

.reg_btn {
  background-color: #57cac3;
  color: white;
  font-family: "Comic Sans MS";
}

/* search */
.search {
  width: 500px;
  height: 480px;
  margin-left: 650px;
  font-family: "Comic Sans MS";

}

.search img {
  margin-left: 139px;
}

.search_bt {
  background-color: #57cac3;
  color: white;
  margin-left: 215px;
  font-family: "Comic Sans MS";
}



.donor_details {
  width: 550px;
  padding: 20px;
  padding-left: 156px;
  font-family: "Comic Sans MS";
}

.theadcolor {
  background-color: #57cac3;
  font-family: "Comic Sans MS";
}

.donor_list {
  height: 600px;
  font-family: "Comic Sans MS";
}


.about {
  height: 250px;
  font-family: "Comic Sans MS";
  font-weight: lighter;

}
.container-fluid{
  font-family: "Comic Sans MS";
  align-self: auto;
}